/*<!--Aufgabe 0:
Aufgabe: Aufgabe Nummer 0 -EIA2  Name: Lisa Sanchez y Bittner
Matrikel: 260502
Datum: 24.03.2019 -  Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert. */


body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-size: 17px;
}

h1, h2 { text-transform: uppercase;
         letter-spacing: 4px;

}

.ueberschrift { font-size: 45px;
                background-color: white;
                color: black;
}